@{
  ViewData["Title"] = "Tarea";
}
<nav class="navbar navbar-light bg-light" style="height:74px; margin-bottom: 1rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <label>Asignatura</label>
      @Html.DropDownList("AsignaturaId", null, htmlAttributes: new { @class = "form-control"})
    </a>
  </div>
</nav>
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="list-group p-2" id="Titulotarea">
  </div>

  <div class="p-2 flex-fill" id="DescripcionTarea">
</div>

@section Scripts {
  <script src="~/js/tarea.js"></script>
}