@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
  ViewData["Title"] = "Tarea";
}
<nav class="navbar navbar-light bg-light" style="height:74px; margin-bottom: 1rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <label>Asignatura</label>
      @Html.DropDownList("AsignaturaId", null, htmlAttributes: new { @class = "form-control"})
    </a>
    <button onclick="CrearPDFTareas()">Pdf Tareas</button>
  </div>
</nav>
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="list-group p-2" id="Titulotarea">
  </div>

  <div class="p-2 flex-fill" id="DescripcionTarea">
</div>
<div>
  <table id="ListadoTarea" class="table table-dark table-striped table-hover" hidden>
      <thead>
        <tr>
          <th scope="col">Fecha de carga</th>
          <th scope="col">Fecha de vencimiento</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Asignatura</th>
          <th scope="col">Profesor</th>
        </tr>
      </thead>
      <tbody id="ListadoTareaBody">
      </tbody>
    </table>
</div>
  @section Scripts {
    <script src="~/lib/jspdf/jspdf.umd.js"></script>
    <script src="~/lib/jspdf/jspdf.plugin.autotable.js"></script>
    <script src="~/js/tarea.js"></script>
  }
<script>
    function CrearPDFTareas(){
        var doc = new jspdf.jsPDF();
        var totalPagesExp = '{total_pages_count_string}';

        doc.autoTable({
            html: '#ListadoTarea',
            willDrawPage: function (data) {
                // Header
                doc.setFontSize(20)
                doc.setTextColor(40)
                doc.text('Tareas', data.settings.margin.left + 15, 22)
            },
            columns: [
            {dataKey: 'Fecha de carga', title: 'Fecha de carga'},
            {dataKey: 'Fecha de vencimiento', title: 'Fecha de vencimiento'},
            {dataKey: 'Titulo', title: 'Titulo'},
            {dataKey: 'Descripcion', title: 'Descripcion'},
            {dataKey: 'Asignatura', title: 'Asignatura'},
            {dataKey: 'Profesor', title: 'Profesor'},
            ],
            bodyStyles: {minCellHeight: 25},
            theme:'grid',
            headStyles: { fillColor: [45, 26, 22] },
            didDrawPage: function (data) {
                // Footer
                var str = 'pagina ' + doc.internal.getNumberOfPages()
                if (typeof doc.putTotalPages === 'function') {
                    str = str + ' de ' + totalPagesExp
                }
                doc.setFontSize(10)
                var pageSize = doc.internal.pageSize
                var pageHeight = pageSize.height ? pageSize.height : pageSize.getHeight()
                doc.text(str, data.settings.margin.left, pageHeight - 10)
            },
            margin: { top: 30 }
        });
        if (typeof doc.putTotalPages === 'function') {
            doc.putTotalPages(totalPagesExp)
        }
        var dia = new Date();
        dia = `${dia.getDate()}-${dia.getMonth() + 1}-${dia.getYear()}`;
        doc.save(`Tareas${dia}.pdf`);

    }
</script>