@{
  ViewData["Title"] = "Profesor";
}


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Profesor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <form id="form-Alumno" method="post" class="Form">
            <label for="">ProfesorId</label>
            <input type="text" id="Id" name="Id" disabled>
            <label for="">Nombre completo</label>
            <input id="FullName" type="text" name="FullName">
            <label for="">fecha de nacimiento</label>
            <input id="Birthdate" type="datetime" name="Birthdate">
            <label for="">DNI</label>
            <input id="Dni" type="number" name="Dni">
            <label for="">email</label>
            <input id="Email" name="Email" type="text">
            <label for="">Direccion</label>
            <input id="Address" name="Address" type="text">
            @* <input type="checkbox" name="transporte" value="1">Coche
            <input type="checkbox" name="transporte" value="2" checked>Avión
            <input type="checkbox" name="transporte" value="3">Tren *@
            <h1 id="lbl-error" style="color: red;"></h1>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="SaveProfesor()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<h1>Profesores...</h1>
<div>
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">DNI</th>
        <th scope="col">Nombre completo</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col"><button class="btn btn-success" type="button" onclick="ClearModal()" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">Crear Nuevo</button></th>
        <th scope="col">Email</th>
        <th scope="col">Direccion</th>
      </tr>
    </thead>
    <tbody id="tbody-Profesor">
    </tbody>
  </table>
</div>
<div id="AsignaturasTable">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Asignaturas <input type="tel" id="ProfesorAsignatura" disabled/></th>
        <th scope="col" style="display:flex;justify-content: space-between;" >(Las seleccionadas ya estan relacionadas con el profesor) <button class="btn btn-primary " onclick="GuardarAsignaturas()">Guardar</button><button class="btn btn-danger " onclick="CerrarTablaAsignatura()">Cerrar</button></th>
      </tr>
    </thead>
    <tbody id="tbody-AsignaturasProfesor">
    </tbody>
  </table>
</div>

@section Scripts {
  <script src="~/js/Profesor.js"></script>
}