@{
    ViewData["Title"] = "Asignatura";
}

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cargar Asignatura</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="Form">
            <input type="text" id="ID" disabled>
            <label for="">Nombre</label>
            <input id="Nombre" type="text">
            <label for="">carrera</label>
            @Html.DropDownList("CarreraID", null, htmlAttributes: new { @class = "form-control"})
            <label id="lbl-error" style="color: red;"></label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<h1>Asignaturas...</h1>
<div>
    <table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col"><button class="btn btn-success" type="button" onclick="LimpiarModal()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Crear Nueva</button></th>
      <th scope="col">Carrera</th>
    </tr>
  </thead>
  <tbody id="tbody-Asignatura">
  </tbody>
</table>
</div>

@section Scripts {
    <script src="~/js/asignatura.js"></script>
}